/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */

/* Tomorrow Comment */
.hljs-comment,
.hljs-quote {
  color: #8e908c;
}

/* Tomorrow Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #c82829;
}

/* Tomorrow Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #f5871f;
}

/* Tomorrow Yellow */
.hljs-attribute {
  color: #eab700;
}

/* Tomorrow Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #718c00;
}

/* Tomorrow Blue */
.hljs-title,
.hljs-section {
  color: #4271ae;
}

/* Tomorrow Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #d14 !important;
}

.hljs {
  display: block;
  overflow-x: auto;
  background: white;
  color: #4d4d4c;
  padding: 0.5em;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.article-content {
  line-height: 2;
  font-size: 13px;

  p,
  blockquote,
  ul,
  ol,
  dl,
  pre {
    margin-top: 0;
    margin-bottom: 0.6em;
  }

  h1,
  h2 {
    border-bottom: 1px solid #e2e2e2;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0 0 0.6em;
    font-weight: 600;

    text-indent: 0;

    &:target {
      padding-top: 4.5rem;
    }
  }

  a {
    color: #0366d6;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  ul,
  ol {
    padding: 0.2em 0.8em;

    > li {
      line-height: 2;
      padding-left: 0.2em;
      margin-left: 0.2em;
      list-style-type: disc;

      > p {
        text-indent: 0;
      }

      > ul {
        li {
          list-style-type: circle;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  > ul,
  ol {
    padding: 0 20px;
  }

  ol > li {
    list-style-type: decimal;
  }

  blockquote {
    margin: 0;
    margin-bottom: 0.6em;
    padding: 0 1em;
    color: #6a737d;
    border-left: 0.25em solid #dfe2e5;

    p {
      text-indent: 0;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  pre {
    padding: 0.6em;
    overflow: auto;
    line-height: 1.6;
    background-color: #f8f8f8;
    border-radius: 3px;

    code {
      padding: 0;
      margin: 0;
      font-size: 12px;
      background: transparent;
    }
  }

  > p > code {
    color: #ff502c;
  }

  code {
    padding: 0.2em 0.4em;
    margin: 0;
    background-color: #f0f0f0;
    border-radius: 3px;
  }

  hr {
    margin-bottom: 0.6em;
    height: 1px;
    background: #dadada;
    border: none;
  }

  table {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 0.6em;
    border-collapse: collapse;
    text-align: left;
    th,
    td {
      padding: 0.1em 0.4em;
      border: 1px solid #ddd;
    }
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 0.6em;
  }
}